
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* 'Franklin Gothic Medium' para los títulos (como curruchet)
    Libre Baskerville", serif para subtítulos
    Raleway", sans-serif, para párrafos y textos
    Bebas neue para subtítulos en la home

*/


*{
  margin: 0;
  padding: 0;
box-sizing: border-box;
}

.image-container{
    position: relative;
}
.image-ora{
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

img {
    filter: brightness(60%);
     max-width: 100%;
      height: auto;
      align-items: center;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .image-container:hover .overlay {
    opacity: 1;
  }



.ero{
  padding-top: 60px;
  background-color: white;
  font-family: "Raleway", sans-serif;
}
.ero2{
  padding-top: 1rem;
  font-family: "Raleway", sans-serif;
}
.p1{
  font-family: "Raleway", sans-serif;
}


a{
  text-decoration: none;
  font-weight: bold;
  color: rgb(255, 255, 255);
 padding: 50px;
 
}

.itemList:hover{
  transition: 250ms;
  background-color: #e8e1e1;
  color: #e8e1e1;

}

.itemList{
  color: #e8e1e1;
  text-decoration: none;
}


h1{
  
 font-size: 500%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bolder;


}

.titulos-h3{
   padding-top: 3rem;
   text-align: left; 
    font-size: 40px;
   padding-left: 10%;
}

/* css para la home */
.laplata{
  width: 100%;
  height: 100%;
  object-fit: cover; /* Esto asegura que la imagen cubra toda la ventana */
}
.lptexto{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 48px;
  padding-top: 0rem;
}



.curruchet{
  width: 400px;
  height: 200px;
  margin-right: 20px; /* Espacio entre la imagen y el contenido */
}
.portada1{
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  padding-top: 1rem;
  padding-left: 1rem;
}

.tituloshome{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.parrafohome{
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  padding-bottom: 2rem;
}


/* css para curuchet */
.imagenes{
  margin-right: 10%;
  flex-direction: column;
}

.contenedor {
  display: flex;
  align-items: flex-start;
}
.texto1{
  text-align: justify;
  margin-left: 10%;
  margin-right:10% ;
  padding: 10px 2px 10px 2px;

}
.pie-pagina{
  width: 100%;
  background-color: aliceblue;
  padding-top: 30px;
}

.pie-pagina .grupo-1.box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; /*alinear vertical*/
}
.pie-pagina .grupo-1 .box figure .uno{
  width: 200px;
  padding-left: 80px;
}
.pie-pagina .grupo-1 .box h4{
  color: rgb(0, 0, 0);
  margin-bottom:25px ;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box .p{
  color: rgb(0, 0, 0);
  margin-bottom:10px ;
  font-size: 10px;
}
.pie-pagina .grupo-1 .red-social img{
  display: inline-block;
  text-decoration: none;
width: 35px;
height: 35px;
line-height: 15px;
margin-right: 40px;

}
.pie-pagina .grupo-2{
  background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
.imgcarrusel {
  display: flex;
  justify-content: center; 
  gap: 10px; 
  margin-top: 20px; 
}

.imgcarrusel img {
  max-width: 30%; 
  height: auto; 
}

/* css para museo de ciencias naturales */


.image-container2 img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.3s ease; 
}

.image-container2:hover img {
  opacity: 0.8; 
}

.titulonaturales {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem; 
  font-weight: bold;
}

.portadamuseo {
  display: flex;
  margin-left: 3rem;
  margin-right: 3rem;
}

.textos {
  margin-right: 20px; 
}

.titulomuseo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #808080;
  padding-top: 2rem;
  margin: 0;
  margin-bottom: 1rem;
}

.pmuseo {
  margin: 0;
  font-family: "Raleway", sans-serif;
  padding-bottom: 1rem;
}

.titulomuseo1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #808080;
  padding-top: 2rem;
  margin: 0;
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.imgmuseo{
  padding-top: 2rem;
  max-width: 300px; 
  height: auto; 
}

#carouselExampleIndicators{
  width: 90%;
  padding-left: 10rem;
  padding-top: 1rem;
}

/* css para el footer de museo de ciencias naturales */

footer {
  background-color: #808080;
  color: white;
  
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
padding-left: 2rem;

 
}

.footer-section {
  flex: 1;
  padding: 10px;
}

.footer-section h4 {
  border-bottom: 2px solid #555;
  padding-bottom: 10px;
  padding-top: 2rem;
  margin-bottom: 10px;
}

.footer-section p, .footer-section a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}

.footer-section a:hover {
  text-decoration: underline;
}


@media screen and (min-width:480px) {
  a{
    padding-left: 10px;
  }
  .image-text{
    font-size: 90%;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%);
  color: white;
  }
  .image-ora{
    font-size: 80%;
    position: absolute;
    top: 80%;
    left: 33%;
    color: white;
  }
  .barra{
 
    font-size: 20px;
        display: flex;
        flex-direction: row;
        
        list-style-type: none;
        text-decoration: none;
        margin: 10px 10px 0 0;
        position: absolute;
        top: 30px;
        left: 20%;
        transform: translate(-20%, -20%);
        z-index: 1;
       
       
    }
    .seccion{
      display: block;
    align-items: center;
    flex-direction: row;
    /*vertical-align: middle;*/
    }
    .imagenes{
     position: relative;
     padding-left: 90px;
     
   
    }
    .linea{
      float: none;
    
      margin-left: auto;
      
      margin-right: auto;
     width:75%;
    }
    .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
      padding-left: 60px;
  }
}
@media screen and (min-width:1200px) {
  .image-text{
    position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 1;
color: white;
font-size: 20px;
font-weight: bold;
}
.image-ora{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
}
.barra{
 
  font-size: 20px;
      display: flex;
      flex-direction: row;
      
      list-style-type: none;
      text-decoration: none;
      margin: 10px 10px 0 0;
      position: absolute;
      top: 30px;
      left: 10%;
      transform: translate(-20%, -20%);
      z-index: 1;
     
     
  }
  .seccion{
    display: inline-flex;
  align-items: center;
  flex-direction: row;
  vertical-align: middle;
  }
  .imagenes{
    margin-right: 10%;
    width: 80%;
  }
  .parra{
    text-align: left;
     margin-left: 45px;
     padding-top: 5px;
   }
   .linea{
    float: none;
  
    margin-left: auto;
    
    margin-right: auto;
   width: 50%;
  }
  .pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px; /*margen entre columnas*/
  pad: 105px 0px;
  padding-bottom: 30px;
  }
  }

  /* css para la catedral */

  .img-back {
    width: 100%;
  }
  
  .titulocatedral {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: smaller; 
    font-weight: bold;
    text-align: center;
  }

  .imagenescate {
    margin-right: 30%;
    flex-direction: column;
  }

  .imgcate2 {
    width: 100%;
  }